h1 {
      color:#ffffff;
      background-color:#000080;
}
footer {
      background-color:#c0c0c0;
}
.subhead {
      background-color:#808000;
}
.navy {
      color:#000080;
}
.red {
      color:#ff0000;
}